<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Reports">

<listeners>
<listener class-name="com.qa.listeners.ExtentReportListener"></listener>
</listeners>

  <test name="Testing the reports">
  <classes>
  <class name ="com.qa.tests.FacebookTitle">
  </class>
  <class name ="com.qa.tests.GoogleTitle">
  </class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
